main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;    
}

h1 {
    font-weight: bold;
    font-size: 3em;
}

.radio {
    background-color: purple;
    color: white;
    width: 40vw;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.5em;
}

.submit-button, button[type="button"] {
    margin-top: 30px;
}

.quizTime {
    position: absolute;
    top: 0;
    right: 50px;
}

.result {
    text-align: center;
    font-size: 3em;
}

.score-submit {
    margin-top: 30px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container button {
    margin: 0 30px;
}

.score-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    border-top: 3px solid black;
    margin-top: 20px;
    width: 80vw;
    text-align: center;
}

.score-list li {
    list-style: none;
    margin: 10px 0;
    width: 100%;
    background-color: purple;
    color: white;
    border-radius: 5px;
    font-size: 2em;
}